@tailwind base;
@tailwind components;
@tailwind utilities;


.profile-update-title {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.progress-bar-text {
    display: flex;
    justify-content: center;
    align-items: center;
}