.progress-bar-container {
  position: relative  ;
    width: 100%;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .progress-bar-fill {
    height: 100%;
    background-color: #4caf50; /* Couleur de remplissage */
    transition: width 0.5s ease; /* Animation de remplissage */
  }

  .progress-bar-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}